{% extends 'base.html.twig' %}

{% block title %} Add Team{% endblock %}

{% block body %}
<style>
     
</style>

 <div class="container">
<div class="col-md-8">
    <h1 class="mt-4 mt-md-0">Let's add your team!</h1>
    
    <hr>
    
    {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}

    <div class="form-group">
        {{ form_label(form.Name) }}
        {{ form_widget(form.Name, {
            'attr': {
                'class': 'form-control ' ~ (form.Name.vars.valid ? '' : 'is-invalid')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.Name) }}
        </div>
    </div>

     <div class="form-group">
        {{ form_label(form.MoneyBalance) }}
        {{ form_widget(form.MoneyBalance, {
            'attr': {
                'class': 'form-control ' ~ (form.MoneyBalance.vars.valid ? '' : 'is-invalid')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.MoneyBalance) }}
        </div>
    </div>

   <div class="form-group">
        {{ form_label(form.country) }}
        {{ form_widget(form.country, {
            'attr': {
                'class': 'form-control ' ~ (form.country.vars.valid ? '' : 'is-invalid')
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.country) }}
        </div>
    </div>


    {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
    {{ form_end(form) }}
</div>

</div>
{% endblock %}
