{% extends 'base.html.twig' %}

{% block title %} Team Transactions {% endblock %}

{% block body %}

<div class="container">
    <h2 class="mt-3 mb-4">Welcome {{teamName}}, how is it going?</h2>
    <h5>Below are your transaction's metrics!</h5>
    <div class="row">
        
              <div class="col-md-6">
                <div class="card mb-6">
                    
                    <div class="card-body">
                        <h5 class="card-title"> {{moneyBalance}} €</h5>
                        <p class="card-text">Money Balance</p>
                        
                    </div>
                </div>
            </div>

             <div class="col-md-6">
                <div class="card mb-6">
                    
                    <div class="card-body">
                        <h5 class="card-title">{{teamPurchaseFormatted}} €</h5>
                        <p class="card-text">Total Purchase</p>
                        
                    </div>
                </div>
            </div>


         
       
    </div>

 

</br>
  <div class="col-md-8">
    <h4 class="mt-4 mt-md-0">List of purchases</h4>
    
    <hr>
   <table>
    <thead>
        <tr>
            <th>Amount €</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        {% for sp in teamPurchasesList %}
            <tr>
                <td>{{ sp.playerAmount }}</td>
                <td>
                {{ sp.playerName }}, {{ sp.playerSurname }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>  
</div>

<div class="card-body">
<a href="{{ path('player.display') }}" class="btn btn-warning"> Back To Buy/Sell </a>
</div>

<div class="pagination">
    {{ knp_pagination_render(teamPurchasesList) }}
</div>
</div>

{% endblock %}
